/* =========================
    MODAL OVERRIDE
========================= */

.modal--how-to {
	max-width: 62vw;
	height: 80vh;
	max-height: 90vh;

	display: flex;
	flex-direction: column;
}

.modal--how-to .modal-content {
	padding: 10px 0;

	flex: 1;
	min-height: 0;
	overflow: hidden;

	display: flex;
}

/* =========================
    LAYOUT
========================= */

.how-to-layout {
	display: grid;
	grid-template-columns: 140px 1fr;

	flex: 1;
	min-height: 0;
}

.how-to-nav {
	display: flex;
	flex-direction: column;

	border-right: 1px solid #ddd;

	padding: 12px;
	gap: 6px;
}

.how-to-content {
	padding: 20px;

	min-height: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.how-to-content h2 {
	margin-top: 0px;
}

.how-to-content h3 {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgb(161, 84, 84);
}

.how-to-content p {
	font-size: 15px;
}

.how-to-content img {
	display: block;
	max-width: 100%;
	height: auto;

	margin: 1rem auto;

	border: 1px solid #ddd;
	border-radius: 8px;
}

/* =========================
    BUTTON
========================= */

.how-to-nav button {
	border: none;
	background: none;

	text-align: left;

	padding: 10px 8px;
	border-radius: 6px;

	cursor: pointer;
	font-family: var(--default-font);
	font-size: 12px;
}

.how-to-nav button:hover {
	background: #f5f5f5;
}

.how-to-nav button.active {
	background: #3388ff;
	color: white;
}
