.export-btn {
	min-width: 120px;
	padding: 6px 12px;

	background: #2d7a3e;
	color: white;

	border: none;
	border-radius: 6px;

	cursor: pointer;
	font-size: 14px;
}

.export-btn:hover {
	background: #236231;
}
