/* =========================
    LayerFilters.css
========================= */

.layer-filters {
	margin-top: 10px;
	padding: 8px;

	display: flex;
	flex-direction: column;
	gap: 8px;

	background: #fafafa;
	border-radius: 6px;
	border: 1px solid #ddd;
}

.add-filter-btn {
	align-self: flex-start;

	width: 100%;
	margin-top: 8px;
	padding: 4px;

	border-radius: 5px;
	border: 1px dashed #999;

	background: transparent;
	cursor: pointer;

	font-size: 14px;
	font-family: var(--default-font);

	transition:
		background 0.2s ease,
		color 0.2s ease;
}

.add-filter-btn:hover {
	background: #eee;
	border-color: #999;
}
