/* =========================
    Toolbar Branding
========================= */

.toolbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;   
    width: fit-content;
    text-decoration: none;
    color: inherit
}

.brand-text{
    display: flex;
    flex-direction: column;
}

.brand-title{
    margin: 0px
}

.version-tag{
    margin: 0;
    font-size: 0.8rem;
    color: #aaa
}

.brand-logo{
    width: auto;
    height: 35px;
    flex-shrink: 0;

    transition: transform 0.3s ease;
}

.brand-logo:hover {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.toolbar-actions{
    gap: 12px;
}