

.toolbar {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 0 0px;
    box-sizing: border-box;
}

.toolbar-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    width: fit-content;
}

/* =========================
    Toolbar Branding
========================= */

.toolbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;   
    width: 300px;
    text-decoration: none;
    color: inherit
}

.brand-text{
    display: flex;
    flex-direction: column;
}

.brand-title{
    margin: 0px
}

.version-tag{
    margin: 0;
    font-size: 0.8rem;
    color: #aaa
}

.brand-logo{
    width: auto;
    height: 35px;
    flex-shrink: 0;

    transition: transform 0.3s ease;
}

.brand-logo:hover{
    transform: rotate(180deg);
}