/* =========================
    BASE
========================= */

body {
    margin: 0;
    padding: 0;
    font-family: "Google Sans Flex", sans-serif;
}

h2, h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

/* =========================
    SIDEBAR LAYOUT
========================= */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    padding-left: 15px;

    background-color: #223d57;
    color: #ecf0f1;

    overflow: hidden;
}

.sidebar-header {
    display: flex;
    flex-direction: column;

    flex: 1;
    min-height: 0;
}

.sidebar-content {
    flex: 1;
    min-height: 0;

    overflow-y: auto;
    width: 100%;

    padding-right: 6px;
    margin-top: 15px;
}

/* spacing between groups */
.sidebar-content > div {
    margin-bottom: 6px;
}

/* =========================
    TYPOGRAPHY
========================= */

.sidebar-title {
    margin-bottom: 0;
}

.version-tag {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

/* =========================
    CONTROLS
========================= */

.dropdown-btn {
    width: 150px;
}

.toggle-item input[type="checkbox"] {
    margin-bottom: 15px;
    margin-right: 12px;
    transform: scale(1.2);
}

/* =========================
    GROUPS / ACCORDION
========================= */

.group {
    border-bottom: 1px solid transparent;
}

.group-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.group-content {
    max-height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translateY(-6px);

    transition: opacity 0.2s ease, transform 0.2s ease;
}

.group-content.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}

/* arrow animation */
.arrow {
    display: inline-block;
    transition: transform 0.2s ease;
}

.arrow.rotated {
    transform: rotate(90deg);
}

/* =========================
    MAIN CONTENT
========================= */

.main-content {
    margin-left: 250px;
    padding-left: 5px;
    height: 100vh;
}

/* =========================
    INPUT ITEM
========================= */

.input-item{
    width: 200px;
}