.radio-item {
	width: 100%;
}

.radio-label {
	display: flex;
	align-items: center;
	gap: 10px;

	padding: 8px 12px;

	color: #ecf0f1;
	font-size: 14px;

	cursor: pointer;

	border-radius: 6px;

	transition:
		background-color 0.2s ease,
		color 0.2s ease;
}

.radio-label:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

/* Hide default radio */
.radio-checkbox {
	appearance: none;
	-webkit-appearance: none;

	width: 16px;
	height: 16px;

	border: 2px solid #9aa8b5;
	border-radius: 50%;

	display: grid;
	place-content: center;

	cursor: pointer;

	transition:
		border-color 0.2s ease,
		background-color 0.2s ease;
}

/* Inner dot */
.radio-checkbox::before {
	content: '';

	width: 8px;
	height: 8px;

	border-radius: 50%;

	/*background-color: #4fc3f7;*/
	background-color: #e29f00;

	transform: scale(0);

	transition: transform 0.15s ease;
}

/* Selected state */
.radio-checkbox:checked {
	border-color: #e29f00;
}

.radio-checkbox:checked::before {
	transform: scale(1);
}

/* Selected row */
.radio-label:has(.radio-checkbox:checked) {
	/*background-color: rgba(79, 194, 247, 0.203);*/
	background-color: #e29e0037;
}
