.delete-boundary-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	padding: 6px;
	margin-bottom: 12px;

	background: var(--colour-button-danger-bg);

	border: none;
	border-radius: 8px;

	color: var(--colour-button-danger-text);
	font-family: var(--default-font);
	font-size: 14px;
	font-weight: 400;

	cursor: pointer;

	transition:
		background-color 0.25s ease,
		border-color 0.15s ease,
		transform 0.1s ease,
		box-shadow 0.15s ease;
}

.delete-boundary-btn:not(:disabled):hover {
	background: var(--colour-button-danger-hover);
}

/* Disabled state */
.delete-boundary-btn:disabled {
	background: var(--colour-button-danger-bg-disabled);

	border-color: var(--colour-button-danger-border-disabled);

	color: var(--colour-button-danger-text-disabled);

	cursor: auto;

	opacity: 0.6;
}
