.delete-boundary-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	padding: 6px;
	margin-bottom: 12px;

	background: rgb(212, 50, 21);

	border: none;
	border-radius: 8px;

	color: white;
	font-family: var(--default-font);
	font-size: 14px;
	font-weight: 400;

	cursor: pointer;

	transition:
		background-color 0.25s ease,
		border-color 0.15s ease,
		transform 0.1s ease,
		box-shadow 0.15s ease;
}

.delete-boundary-btn:not(:disabled):hover {
	background: rgb(196, 43, 16);
}

/* Disabled state */
.delete-boundary-btn:disabled {
	background: rgba(234, 49, 16, 0.35);

	border-color: rgba(255, 255, 255, 0.1);

	color: rgba(255, 255, 255, 0.45);

	cursor: auto;

	opacity: 0.6;
}
