/* =========================
    DROPDOWN CONTAINER
========================= */

.dropdown {
	position: relative;
	z-index: 2001;
	width: fit-content;
}

/* =========================
    MAIN BUTTON
========================= */

.dropdown-button {
	display: flex;
	align-items: center;
	gap: 4px;

	padding: 6px 16px;

	border: 1px solid transparent;
	border-radius: 6px;

	background: transparent;
	color: #ecf0f1;

	font-size: 16px;
	font-weight: 500;
	font-family: var(--default-font);

	cursor: pointer;

	transition:
		background-color 0.2s ease,
		border-color 0.2s ease,
		color 0.2s ease;
}

.dropdown-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.15);
}

.dropdown-button:active {
	background-color: rgba(255, 255, 255, 0.15);
}

.dropdown-button.open {
	background-color: rgba(255, 255, 255, 0.15);
}

/* =========================
    MENU
========================= */

.dropdown-menu {
	position: absolute;
	top: calc(100% + 4px);
	left: 0;

	display: flex;
	flex-direction: column;

	min-width: 140px;

	background: #ffffff;
	border: 1px solid #d0d7de;
	border-radius: 4px;

	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);

	z-index: 3000;
}

/* =========================
    MENU ITEMS
========================= */

.dropdown-item {
	width: 100%;

	border: none;
	border: 5px;

	background: transparent;

	color: #223d57;
	text-align: left;

	font-size: 15px;
	font-family: var(--default-font);

	cursor: pointer;

	transition: background-color 0.15s ease;
}

.dropdown-item-wrapper {
	padding: 6px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-item-wrapper svg {
	color: rgba(0, 0, 0, 0.588);
	stroke-width: '';
}

.dropdown-item:hover {
	background-color: #e8f1f8;
}

.dropdown-item:active {
	background-color: #d4e5f2;
}

.dropdown-item:disabled {
	color: #999;
	cursor: not-allowed;
	opacity: 0.6;
}

.dropdown-item:disabled:hover {
	background: inherit;
}

/* =========================
    TOOLTIP ON HOVER
========================= */

.tooltip {
	position: absolute;

	left: 100%;
	top: 50%;
	width: fit-content;

	transform: translateY(-50%);

	margin-left: 8px;

	padding: 6px 10px;

	background: #333;

	color: white;

	font-size: 12px;

	border-radius: 4px;

	white-space: nowrap;

	opacity: 0;

	pointer-events: none;

	transition: opacity 0.15s ease;
}

.dropdown-item-wrapper:hover .tooltip {
	opacity: 1;
}
