body {
    font-family: "Google Sans Flex", sans-serif;
}

h2, h3{
    margin-top: 15px;
    margin-bottom: 10px;

}

.sidebar-title{
    margin-bottom: 0px;
}

.version-tag{
    margin: 0px;
    color: rgba(255, 255, 255, 0.5);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    padding-left: 15px;

    background-color: #223d57;
    color: #ecf0f1;

}

.sidebar-header{
    display: flex;
    flex-direction: column;

    flex: 1;
    min-height: 0;

    -bottom: 5px;
}

.sidebar-content{
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    width: 100%;
    padding-right: 6px;
}

.dropdown-btn{
    width: 150px;
}

.toggle-item input[type="checkbox"]{
    margin-bottom: 15px;
    transform: scale(1.2);
    margin-right: 12px;
}

body{
    margin: 0;
    padding: 0;
}

.main-content{
    margin-left: 250px;
    padding-left: 5px;
    height: 100vh;
}