/* =========================
    LEGEND CONTAINER
========================= */

.legend {
    position: absolute;
    top: 0;
    right: 0;

    margin: 8px;
    padding: 5px 10px;

    max-height: 80vh;
    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.5);
    color: #ecf0f1;

    border-radius: 6px;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

/* =========================
    LEGEND HEADER
========================= */

.legend h3 {
    margin: 5px 0;
}

/* =========================
    LEGEND ITEMS
========================= */

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-bottom: 5px;
}

/* =========================
    LEGEND ICONS
========================= */

.legend-item img {
    width: 20px;
    height: 20px;
}