/* =========================
    FEATURE COUNT PANEL
========================= */

.feature-count {
	width: 100%;
	box-sizing: border-box;

	color: #ecf0f1;

	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.map-ribbon-content {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

/* Text */
.map-ribbon-content p {
	margin: 4px;
	font-size: 12px;
}

/* =========================
    ITEM ROW
========================= */

.feature-counter {
	display: flex;
	align-items: center;
	gap: 6px;
}
