/* =========================
    GLOBAL RESET
========================= */

html,
body,
#root {
	height: 100%;
	margin: 0;
	font-family: 'Google Sans Flex', sans-serif;
}

/* =========================
    ROOT LAYOUT
========================= */

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

/* =========================
    APP UI PARAMETERS
========================= */

.app-header {
	height: var(--header-height);
	flex-shrink: 0;

	background: var(--colour-header-bg);
	color: white;

	display: flex;
	align-items: center;
	padding: 0 12px;

	position: relative;
	z-index: 2000;

	box-sizing: border-box;
}

.app-body {
	position: relative;

	display: grid;
	grid-template-columns:
		var(--sidebar-width)
		minmax(0, 1fr);

	flex: 1;
	min-height: 0;
	min-width: 0;

	overflow: hidden;
}

.app-body.sidebar-collapsed {
	grid-template-columns:
		var(--sidebar-collapsed-width)
		minmax(0, 1fr);
}

.app-layout {
	display: flex;
	flex-direction: column;

	height: 100%;
	min-height: 0;
}

/* =========================
   MAIN CONTENT AREA
========================= */

.main-content {
	grid-column: 2;

	display: flex;
	flex-direction: column;

	min-width: 0;
	min-height: 0;

	overflow: hidden;
}

.map-container {
	position: relative;

	flex: 1;
	min-height: 0;

	width: 100%;
}

.map-ribbon {
	flex-shrink: 0;

	height: 18px;

	display: flex;
	align-items: center;

	padding: 0 12px;

	background: var(--colour-header-bg);
	color: white;

	border-top: 1px solid var(--colour-box-shadow);

	box-sizing: border-box;
}
