/* =========================
    GLOBAL RESET
========================= */

html,
body,
#root {
    height: 100%;
    font-family: "Google Sans Flex", sans-serif;
}

:root{
    --header-height: 60px;
    --header-bg: #1f2d3d;

    --sidebar-width: 160px;
    --sidebar-bg: #223d57;

    --drawer-width: 360px;
    --drawer-bg: #526D82;
}

/* =========================
    ROOT LAYOUT
========================= */

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* =========================
    APP UI PARAMETERS
========================= */

.app-header{
    height: var(--header-height);
    flex-shrink: 0px;
    background: var(--header-bg);
    color: white;

    display: flex;
    align-items: center;
    padding: 0 16px;

    position: relative;
    z-index: 2000;
}

.app-body{
    flex: 1;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    overflow: hidden;

    position: relative;
}

/* =========================
   MAIN CONTENT AREA
========================= */

.sidebar {
    grid-column: 1;
    position: relative;
    display: flex;
    width: 100%;

    z-index: 1000;
    box-sizing: border-box;

    background-color: var(--sidebar-bg);
    color: #ecf0f1;
}

.main-content {
    grid-column: 2;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}