html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.map-container{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.leaflet-popup-content{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13.5px;
}