.boundary-indicator {
	width: 100%;
	padding: 4px 8px;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	overflow-y: auto;

	border: 2px solid rgba(255, 255, 255, 0.15);
	border-radius: 6px;

	background: rgba(255, 255, 255, 0.03);

	transition: background 0.2s ease;
}

.header {
}

.header h4 {
	margin: 0px;
}

.content {
}

.content p {
	margin: 0px;
}
